 /* * {
  margin: 0;
  padding: 0;
 }*/

/* Set background image and body fonts */
body {
    background-image: url("../images/dynamic-style.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Set header color and fonts */
h {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: teal;
}

/* Header style */
#header {
  color: white;
  width: 100%;
}

 /* Style name field in header */
 #header .name {
  background: #1abc9c;
  text-align: center;
  float: left;
  padding: 0 5px 0 5px;   
  margin: 0;
  height: 49px;
  overflow: hidden;
  }
 
/* Style topnav buttons */
#header .topnav {
  background-color: white;
  overflow: auto;
}

/* Style the links inside the navigation bar */
#header .topnav a {
  float: right;
  color: teal;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#header .topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style content section */
#content {
  max-width: 960px;
  min-width: 960px;
  background-color: white;
  margin: 50px auto;
}

/* Style about me content section */
#content .about {
  color: teal;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
 }

/* Style content paragraph */
#content .paragraph {
  padding-top: 5px;
  text-align: left; 
}

/* Style conent image */
#content .image {
  float: left;
  padding: 2px;
}

